html, body {
    margin: 0;
    padding: 0;
    background-color: #000C36;
    font-family: "Roboto Slab", serif;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.125em 5em;
}

header img {
    flex: 1;
    max-width: 99px;
}

header h1 {
    font-size: 2.8125em;
    font-family: "Carter One", system-ui;
    margin: 0;
}

main {
    margin: 0 2em 2em;
}

#movie-interests {
    display: flex;
    flex-direction: column;
    gap: 2.25em;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

#movie {
    color: inherit;
}

#title {
    font-size: 1.875em;
    text-align: center;
}

#description {
    font-size: 1.125em;
}

textarea, input[type="text"], input[type="number"] {
    field-sizing: content;
    resize: none;
    background-color: #3B4877;
    border: none;
    border-radius: 10px;
    min-height: 64px;
    font-size: 0.875em;
    font-family: inherit;
    color: inherit;
    padding: 0.857em;
    box-sizing: border-box;
}

textarea:active,
textarea:focus,
input[type="text"]:active,
input[type="text"]:focus,
input[type="number"]:active,
input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #51E08A;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
    appearance: none;
}

input[type="number"]:hover {
    cursor: text;
}

input[type="text"],
input[type="number"] {
    font-size: 1.125em;
}

input::placeholder {
    /* font-size: 1.125em; */
    color: #000C36;
}

input[type="radio"] {
    appearance: none;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    margin: 0
}

button {
    font-size: 1.875em;
    font-family: inherit;
    font-weight: 700;
    color: #000C36;
    background-color: #51E08A;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
}

#survey-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.selection {
    display: flex;
    gap: 0.5em;
}

.selection label {
    background-color: #3B4877;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.selection input[type="radio"]:checked + label {
    background-color: #51E08A;
    color: #000C36;
}

.hidden {
    display: none;
}

#poster {
    width: 100%;
    border-radius: 10px;
}